<div class="alert alert-secondary mt-4">
    <a href="@Href">
        <span class="oi oi-external-link me-2" aria-hidden="true"></span>
        <strong>@Title</strong>
    </a>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Href { get; set; }
}
