@page "/my-blog"
@using System.Net.Http.Headers
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration
<h3>Blog</h3>
<p class="link-info" href="https://strapi.io/blog/how-to-build-a-blog-using-blazor-wasm-and-strapi">Inspired by this site</p>
@code {
    protected override async Task OnInitializedAsync()
    {
        var blogClient = ClientFactory.CreateClient(Consts.BlogApiHttpClientName);
        var articlesResponse = await blogClient.GetStringAsync("articles");
        Console.WriteLine(articlesResponse);
    }
}