@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi, my name is Piotr</h1>
aka Picu and I'm a software developer!
<br/>
<MudButtonGroup Color="Color.Default" Size="Size.Medium" Variant="Variant.Outlined">
    <MudButton Style="color: rgb(10, 104, 197)" Href="https://www.linkedin.com/in/piotrolearczyk/"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn"/> LinkedIn</MudButton>
    <MudButton Style="color: rgb(22, 27, 34)" Href="https://github.com/picu63"><MudIcon Icon="@Icons.Custom.Brands.GitHub"/> Github</MudButton>
    <MudButton Style="color: rgb(21, 161, 249)"><MudIcon Icon="@Icons.Custom.Brands.Facebook"/> Facebook</MudButton> 
</MudButtonGroup>
<SurveyPrompt Title="You can find me on github" Href="https://github.com/picu63" />
