@page "/my-blog"
@inject AppSettings _appSettings
@inject HttpClient _httpClient
<h3>Blog</h3>
<p class="link-info" href="https://strapi.io/blog/how-to-build-a-blog-using-blazor-wasm-and-strapi">Inspired by this site</p>
@code {
    protected override async Task OnInitializedAsync()
    {
        var strapiApiUri = new Uri(_appSettings.StrapiApiUrl);
        var response = await _httpClient.GetFromJsonAsync<string>(new Uri(strapiApiUri, "posts"));
        Console.WriteLine(response);
    }

}